<section class="sign-in create">
<h1>Hello {{user.name}}, how can we help you today?</h1>

  <form method="POST">
    <p for="title-input">Title:</p>
    <input id="title-input" type="text" name="title" placeholder="Title" required />

    <p for="message-input">Message</p>
    <textarea id="message-input" name="message" placeholder="Message" required></textarea>

    <button>Submit</button>
  </form>
</section>
