<img src="/{{user.image}}" />

<form method="POST" enctype="multipart/form-data" >
  <label for="input-image">Profile Image</label>
  <input type="file" id="input-image" name="image" placeholder="Your profile image" />

  <button>Submit Image</button>
</form>