<div class="index-main-container">
    <h1>Close The Gap</h1>
  <section class="left-container">
    <p>CGT brings people together.</p>

    <p>Lets connect you to a helping</p>
    <p>& understanding community.</p>

    <p>Let's close the gap!</p>
  </section>
  
  <section class="right-container">
    {{!-- <img src="./../images/logo.svg" sty> --}}
    <button>Sign up Today</button>
  </section>

</div>



