<div class="index-main-container">

 
  <section class="left-container">
    <p>CGT brings people together.<br/>    
    Lets connect you to a helping & understanding community.
    <br />
    Let's close the gap!</p>
  </section>
  
  <section class="right-container">
    <img src="./../images/logo.svg" alt="logo from Close The Gap"/>
    <button>Sign up Today</button>
  </section>

</div>



