<div class="index-main-container">
  
  <div class="left-container">
    <p>CGT brings people together.</p>

    <p>Lets connect you to a helping</p>
    <p>& understanding community.</p>

    <h1>Let's close the gap!</h1>
  </div>
  
  <div class="right-container">
    <img src="./../images/logo.svg" sty>
    <button>Sign up Today</button>
  </div>

</div>



